body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 90%;
    width: 100vh;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.column {
    width: 20%;
    box-sizing: border-box;
    padding: 8px;
}
.box {
    height: 140px;
    background-color: rgb(87, 153, 252);
    background-image: url("placeholder-image.png");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.text {
    color: white;
    background-color: rgb(161, 161, 161);
    text-align: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
@media screen and (max-width: 768px) {
    .container {
        max-width: 50%;
    }
    .column {
        flex-basis: 33.33%;
    }
    h1 {
        font-size: 0.8em;
    }
    p {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 414px) {
    .container {
        max-width: 50%;
    }
    .column {
        flex-basis: 100%;
    }
    h1 {
        font-size: 0.6em;
        text-align: center;
    }
    p {
        font-size: 0.6em;
    }
    
}
.box > p {
    font-size: 1em;
    text-align: center;
    transform: translate(0px, 122px);
    background-color: white;
    border-radius: 5%;
}
h1 {
    font-size: 1.5em;
}
.box > p {
    align-self: flex-end;
}